body {
    background-image: linear-gradient(#ff1b6b, #45caff);

    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 5px solid black;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.btn-cont {
    display: flex;
    /* border: 2px solid red; */
    width: 300px;
    margin: auto;
    height: 100px;
    justify-content: space-around;
}